<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb1Z-tPumHXi9514mpz98CfcHLJ7EIxwY</string>
	<key>GCM_SENDER_ID</key>
	<string>261044967276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kelvin.mobile-app</string>
	<key>PROJECT_ID</key>
	<string>projrctmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>projrctmobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261044967276:ios:56c4428f1cdf7228074549</string>
</dict>
</plist>